export LANG=ja_JP.UTF-8
export LC_ALL=ja_JP.UTF-8
export EDITOR=nvim
export PAGER="less -RF"
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share
export XDG_DATA_DIRS=/usr/local/share:/usr/share
export BROWSER=chromium
export PROJECTS_HOME=$HOME/path/to
export GOPATH=$HOME/go
export PATH=$PATH:$GOPATH/bin

export GITHUB_API_TOKEN=xxxxxxxxxxxxx
